body {
  margin: 0;
  font-family: 'Cinzel', serif;
  background-image: url("../Images/6qhjjk1v.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  color: #f0e6d2;
}

header {
  padding: 1em;
  background-color: rgba(187, 111, 51, 0.1); 
  border-bottom: 2px solid #bb6f33;
  color: #f0e6d2;
  text-align: center;
}

select {
  padding: 0.5em;
  background-color: #2a2a2a;
  color: #f0e6d2;
  border: 2px solid #bb6f33;
  font-size: 1em;
}

h2 {
  margin-top: 2em;
  color: #f0e6d2;
  text-shadow: 0 0 6px #bb6f33;
}

.future-event-container,
.famous-people-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  padding: 2em;
}

.card {
  background-image: url("../Images/hologram-frame2.jpg");
    background: rgba(26, 26, 26, 0.9); 
  border: 1px solid #bb6f33;
  box-shadow: 0 0 12px rgba(255, 179, 71, 0.3);
  border-radius: 15px;
  width: 280px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  backdrop-filter: blur(4px);
  color: #f0e6d2;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 18px #ffb347;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-description {
  padding: 1em;
  font-size: 0.95em;
  color: #f0e6d2;
}


